#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install -Xdebian '*' usr/lib/codecs
	rm debian/w32codecs/usr/lib/codecs/README

	rm debian/w32codecs/usr/lib/codecs/drvc.so
	rm debian/w32codecs/usr/lib/codecs/cook.so

override_dh_builddeb:
	dh_builddeb -- -Zxz
